h1{
    margin-top: 20px;
    font-size:xx-large;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-list{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
    }
    
.content{
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    }

.carousel-inner{
    height: 300px;
    width: 100%;
    border-radius: 80px;
    }   

.content2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 200px;
    max-width: 1000px;
    margin: auto;
}

.menu-header img{
    height: 200px;
    width: 200px;
    border: 7px solid #a42c33;
    border-radius: 100px;
}

.menu-foot{
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #a42c33;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}

.content3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
    background-color: #a42c33;
    width: 80%;
    height: 480px;
    margin: auto;
    border-radius: 40px;
    }

.noticias-header{
    border-radius: 40px;
        width: 100%;
        height: 400px;   
        background-color: #f2f3f4;
        box-shadow: 0 1px 6px 1px #c797a8;
        overflow: hidden;
        transition: .2s;
}

.noticias-header:hover{
        transform: translateY(-4px);
        box-shadow: 0 1px 14px 2px #c797a8;
}

.noticias-header img{
    border-radius: 40px;
    height: 250px;
    width: 80px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.noticias-header h5{
    display: inline-block;
    margin-bottom: 2px;
}

.noticias-header p{
    display: inline-block;
    font-size: medium;
}

.noticias-header .post-link{
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #7a3a42;
    color:#f2f3f4;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px #c797a8;
    transform: translateY(-2px);
}

.noticias-header .post-link:hover{
    background: #a04d57;
    margin-top: 30px;
}

.noticias-header .carousel-inner{
    background-color: #f2f3f4;
    display: block;
    border-radius: 40px;
    width: 100%;
    height: 420px;
    object-fit: cover;
    text-align: center;
}

#carouselc{
    width: 450px;
    }

@media screen and (max-width:1024px){
     
    .content2{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px;
    }
}

@media screen and (max-width:591px){    
#carouselc{
    width: 300px;
}
}

@media screen and (max-width:497px){    
    .section-list .carousel-inner{
        width: 300px;
        height: 200px;
    } 
}

@media screen and (max-width:399px){    
   
   .content2{
    margin-top: 50px;
   }

    #carouselc{
        width: 230px;
    }

    .noticias-header{
        height: 430px;
    }
    }


footer{
    border: 0px;
  margin-top: 3%;  
  margin-bottom: 3%;
}

    footer button{
    border: 0px solid;
    }