h1{
    font-size:xx-large;
}

header button{
border: 0px solid;
}


.grid{
     width: 100%;
     justify-content: center;
     margin-top: 40px;    
  }

  .grid .item {
  margin-left: 290px;
    margin-top: 20px;
  }

      .grid .carousel-inner{     
      height: 150px;
      width: 380px;
      border-radius: 40px;
      
      }   

      
.menu{
    min-width: 300px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content:center;
    margin: 5%;
    margin-left: 15%;    
}

    .menu img{
    
    height: 200px;
    width: 200px;
    border: 7px solid #a42c33;
    border-radius: 100px;
    }

        .menu button{
        margin-top: 5px;
        text-align-last: center;
        background-color: #a42c33;
        margin-left: 63px;
        border: 1px solid #a42c33;
        border-radius: 40px;
        }


.noticias{
background-color: #a42c33;
display: block;
border-radius: 40px;
width: 80%;
height: 380px;
margin: auto;
object-fit: cover;
text-align: center;
}

    .car-noticias{
        border-radius: 40px;
        width: auto;
        height: 340px;
        margin-left: 33%;   
        background-color: #f2f3f4        ;
        margin-top: 20px;
    }

        .car-noticias img{
            border-radius: 40px;
            height: 200px;
            width: 200px;
            margin-top: 10px;
        }

        #carouselc{
            width: 400px;
        }

.clearfix{
    clear:both;
}

@media screen and (max-width:1200px){
   .car-noticias   {
        width: 20%;
    }
}

footer{
    border: 0px;
  margin-top: 3%;  
  margin-bottom: 3%;
}

    footer button{
    border: 0px solid;
    }