*{
    padding: 0px;
    margin: 0px;
}

.menu button{
   
    margin-top: 20px;
    text-align-last: center;
    background-color: #a42c33;
    margin-left: 100px;
    border: 5px solid #a42c33;
    border-radius: 10px;
}


.art input{
    margin-top: 20px;
    text-align-last: center;
    background-color: white;
    margin-left: 100px;
    border: 5px ;
    border-radius: 10px;

  
}

.des textarea{
    position: relative; 
	left: 6.5%;
	height: 500%;
    width: 450px;
    text-align: center;
}

.nom input{
    position: relative; 
	left: -12%;
	height: 500%;
    width: 450px;
    text-align: center;
}

.pre input{
    position: relative; 
	left: -55%;
	height: 130%;
    width: 130px;
    text-align: center;

}

.cat input{
    position: relative; 
	left: -60%;
	height: 130%;
    width: 130px;
    text-align: center;

}

.bot input{
    position: relative; 
    
	left: 18%;
	height: 115%;
    width: 115px;
    text-align: center;

}

.uni input{
    position: relative; 
	left: -70%;
	height: 130%;
    width: 130px;
    text-align: center;

}


.overlay {
	background: #a42c33; /* color de panel bienvenido */
	color: #FFFFFF;
    position: relative; 
	left: 5%;
	height: 100%;
	width: 95%;
    border-radius: 5%;
  	transform: translateX(0); 

}

.overlay2 {
	background: #a42c33; /* color de panel bienvenido */
 	color: #FFFFFF;
    position: relative;
	left: 2%;
	height: 100%;
	width: 95%;
    border-radius: 5%;
  	transform: translateX(0); 
}

@media screen and (max-width:530px){
     
    .overlay2{
        margin-top: 30px;
    }
    .overlay2  img{
        max-width: 50%;
    }
   }




