*{
    padding: 0px;
    margin: 0px;
}

.menu{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 15%;
}

.menu button{
   
    background-color: #a42c33;
   
    border: 5px solid #a42c33;
    border-radius: 10px;
}

.overlay {
	 /* color de panel bienvenido */
	background: #a42c33;  
    height: 115%;
	width: 100%;
    border-radius: 5%;
  	transform: translateX(0); 
}

.nom input{
    text-align-last: center;
    background-color:#f2f3f4;
    margin-left: 110px;
    border: 5px ;
    width: 400px;
    border-radius: 10px;
}

.des textarea{
    background-color:#f2f3f4;
    margin-left: 110px;
	height: 500%;
    width: 400px;
    text-align: center;
    margin-top: 30px;
}

.pre input{
    background-color:#f2f3f4;
	height: 130%;
    width: 130px;
    text-align: center;
    margin-left: 40%;
    margin-top: 30px;
}

.cat input{
    background-color:#f2f3f4;
	height: 130%;
    width: 130px;
    text-align: center;
    margin-left: 50%;
    margin-top: 30px;

}

.uni input{
    background-color:#f2f3f4;
	height: 130%;
    width: 130px;
    text-align: center;
    margin-left: 40%;
    margin-top: 30px;
}

.bot input{
    background-color:#f2f3f4;
	height: 80%;
    width: 120px;
    text-align: center;
    margin-left: 42%;
    margin-top: 50px;

}

.overlay2 {
	background: #a42c33; /* color de panel bienvenido */
	height: 115%;
	width: 100%;
    border-radius: 5%;
  	transform: translateX(0); 
}

.overlay2 img{
    margin-left: 15%;
    margin-top: 25px;
    width: 70%;
    height: 70%;
}

.overlay2 input{
    color:#f2f3f4;
    margin-left: 22%;
    margin-top: 25px;
   
}

.clearfix{
    clear:both;
}

.footer{
    margin-top: 150px;
}

@media screen and (max-width:1200px){
     
    .nom input{
        max-width: 50%;
    }
    .des textarea{
        max-width: 50%;
}

   }

   @media screen and (max-width:990px){
     
    .overlay2{
        margin-top: 100px;
   
   }

   }

   @media screen and (max-width:767px){
     
    .menu{
       width: 50%
   
   }

   }


@media screen and (max-width:579px){
     
    .overlay .container{
        max-width: 50%;
    }

    .overlay2 img{
        max-width: 80%;
    }

   }

@media screen and (max-width:530px){
     
   .nom input{
    font-size: smaller;
   }

    .overlay2{
        margin-top: 100px;
    }
    .overlay2  img{
        max-width: 50%;
    }
   }