/* * modifica toda página*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1.2rem;
}

body {
	background-color: #f2f3f4;
	font-family: 'Unna', serif;
}





.encabezado {
	font-size: 18px;
	font-family: 'Unna', serif;
	color: #333;
	text-decoration: none;
	justify-content: space-evenly;
}



footer {
	align-items: top;
	color: rgba(0, 0, 0, 0.684);
	padding: 15px;


}

.icono_footer {
	height: 50px;
	width: auto;
	justify-content: space-evenly;
}

.preguntas {
	text-align: center;
	padding-bottom: 0;
	color: rgba(0, 0, 0, 0.684);
}


.main:wrapper {
	margin: 5%;
	justify-content: space-evenly;
}

.nav-item {
	font-family: 'Unna', serif;
	font-size: 18px;
}

.barra_buscar {
	justify-content: space-evenly;
	margin-left: 1px;
}

.btn_buscar {
	padding: 10px 30px 10px 30px;
	color: #a42c33;
	border: 1px solid #a42c33;
	border-radius: 4px;
}

.btn_buscar:hover {
	background-color: #a42c33;
	color: #f2f3f4;
}




/* Breakpoint botones  */
/* 
@media only screen and (max-width: 600px) {
	.btn-flotante1 {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 350px;
		right: 29px;
	}
}



@media only screen and (max-width: 600px) {
	.btn-flotante2 {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 270px;
		right: 30px;
	}
}



@media only screen and (max-width: 600px) {
	.btn-flotante3 {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 30px;
		right: 15px;
	}
} */

/*#contenedor_categorias alberga los iconos de las categorias*/
#contenedor_categorias {
  /* background-color: #a42c33; */
  /*La posicion fixed ayuda a que el contenedor de las categorias no se mueva*/
  /*position: fixed;*/
  margin-top: 2%;
  width: 99vw;
  /*El diaplay flex hace que las cajas se pocicionen una delante de la otra*/
  display: flex;
  /*Le indica a los contenedores que se colocaran en fila*/
  flex-direction: row;
  /*Hace que los elementos se pocisionen en el centro del eje Y**/
  align-items: center;
  border-top: 5px solid #a42c33;
  border-bottom: 5px solid #a42c33;

}


.accesorios  {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  /*El justifi-content hace que cada categoria esta a la misma distancia, tanto a la derecha como a la izquierda*/
  justify-content: space-evenly;  
  align-items: center;
  text-align: center;
}

/*Modificamos lo hay dentro de cada seccion (categorias)*/
.categorias {
  display: flex;
  flex-direction: column;
  
}



/* 
.form{
  padding: 40px 0;
  box-shadow: 0 0 6px 0;
}

.form{
 width: 100%;
 margin: auto;
}

.form .grupo{
  position: relative;
  margin: 45px;
}

input{
  background: none;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;

}

input:focus{
  outline: none;
}

label {
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}

input:focus~label,
  input:valid~label {
  top: -14px;
  font-size: 12px;
}
 
.warnings{
  width: 200px;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

button{
  font-family: 'roboto';
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width:500px){
    form{
      width: 80%;
    }
  
} */