/* * modifica toda página*/
* {
	margin: 0;
	padding: 0;
  background-color: #f2f3f4;
	box-sizing: border-box;
	font-size: 1.2rem;
}

body {
	background-color: #f2f3f4;
	font-family: 'Unna', serif;
}

.imagen_icono {
  height: 60px;
  border-radius: 55px;
  border: solid 3px #a42c33;

}




.logo {
  width: 10%;
  height: 10%;

  margin:auto;

  max-width: 2px;
  /* 
  display: block;  */
  border-radius: 10px;

}

/*ENCABEZADO*/
.row {
  width: 98vw;
  margin: 0;
}

.btn_buscar {
  padding: 10px 30px 10px 30px;
  color: #a42c33;
  border: 1px solid #a42c33;
  border-radius: 4px;
}

.btn_buscar:hover {
  background-color: #a42c33;
  color: #f2f3f4;
}

.icono {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  margin: 10px;
}



.encabezado {
	font-size: 18px;
	font-family: 'Unna', serif;
	color: #333;
	text-decoration: none;
	justify-content: space-evenly;
}


/* 
footer {
	align-items: top;
	color: rgba(0, 0, 0, 0.684);
	padding: 15px;


}

.icono_footer {
	height: 50px;
	width: auto;
	justify-content: space-evenly;
}

.preguntas {
	text-align: center;
	padding-bottom: 0;
	color: rgba(0, 0, 0, 0.684);
}
 */




/* Breakpoint botones  */
/* 
@media only screen and (max-width: 600px) {
	.btn-flotante1 {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 350px;
		right: 29px;
	}
}



@media only screen and (max-width: 600px) {
	.btn-flotante2 {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 270px;
		right: 30px;
	}
}



@media only screen and (max-width: 600px) {
	.btn-flotante3 {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 30px;
		right: 15px;
	}
} */

/*#contenedor_categorias alberga los iconos de las categorias*/
#contenedor_categorias {
  /* background-color: #a42c33; */
  /*La posicion fixed ayuda a que el contenedor de las categorias no se mueva*/
  /*position: fixed;*/
  margin-top: 2%;
  width: 99vw;
  /*El diaplay flex hace que las cajas se pocicionen una delante de la otra*/
  display: flex;
  /*Le indica a los contenedores que se colocaran en fila*/
  flex-direction: row;
  /*Hace que los elementos se pocisionen en el centro del eje Y**/
  align-items: center;
  border-top: 5px solid #a42c33;
  border-bottom: 5px solid #a42c33;

}


.accesorios  {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  /*El justifi-content hace que cada categoria esta a la misma distancia, tanto a la derecha como a la izquierda*/
  justify-content: space-evenly;  
  align-items: center;
  text-align: center;
}

/*Modificamos lo hay dentro de cada seccion (categorias)*/
.categorias {
  display: flex;
  flex-direction: column;
  
}



 
.form{
  padding: 40px 0;
  box-shadow: 0 0 6px 0;
}

.form{
 width: 100%;
 margin: auto;
}

.form .grupo{
  position: relative;
  margin: 45px;
}

input{
  background: none;
  font-size: 20px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;

}

input:focus{
  outline: none;
}

label {
  font-family: 'Unna', serif;
  font-size: 22px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}

input:focus~label,
  input:valid~label {
  top: -14px;
  font-size: 12px;
}
 
.warnings{
  width: 200px;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

.elboton{
  
  
  display: block;
  width: 20%;
  margin: 15% auto;
  height: 40px;
  font-size: 16px;
  cursor: pointer;




  background-color: #a42c33;
  border: 5px solid #a42c33;
  border-radius: 10px;
    text-transform: uppercase;
    font-weight: 300;
  
    
    border: none;
    border-radius: 10px;
    outline: none;
    font-family: 'Unna', serif;
    color: #f2f3f4;
}

@media screen and (max-width:500px){
    form{
      width: 80%;
    }
  
} 









/* 
@media only screen and (max-width: 950px) {
  .logo {
    width: 8rem;
  }
  h1 {
    font-size: 1.75rem;
  }
  p {
    font-size: 0.7rem;
  }
 
  button {
    width: 7rem;
  }


}
 */

/* 
h1, label, button, .description {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;

}

h1 {
  font-family: 'Unna', serif;
  color: #a42c33;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
  text-align: center;
}

p {
  color: var(--secondary-color);
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  width: 30vw;
  margin-top: 100%;
}

label, .description {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 0.625rem;
}
 */
/* form {
  width: 31.25rem;
  position: relative;
  margin-top: 2rem;
  padding: 1rem 0;
}

input, textarea, label {
  width: 40vw;
  display: block;
}

input, */
/* 


button {

  background-color: #a42c33;
border: 5px solid #a42c33;
border-radius: 10px;
  text-transform: uppercase;
  font-weight: 300;
  width: 10rem;
  height: 2.25rem;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-family: 'Unna', serif;
  color: #f2f3f4;
 
}

button:active {
  opacity: 0.8;
}


*/


 

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url(bg.jpg);
  height: 100vh;
}

.left {
  
  margin: auto;
  background-color: #f2f3f4;
	font-family: 'Unna', serif;
 
  place-items: center;
}

.right {
  margin: auto;
  background-color: #f2f3f4;
	font-family: 'Unna', serif;
  place-items: center;
  height: 500px;
  width: 400px;
  
  align-items: center;

  max-width: 500px;
  /* 
  display: block;  */
  border-radius: 10px;


}

/* .tituloRegistro {
  background-color: #f2f3f4;
	font-family: 'Unna', serif;
  font-size: 40px;
	text-align: center;
	font-weight: bold;
	margin: 3%;
	letter-spacing: 4px;
} */


h3 {
  margin: auto;
  width: 100%;
  background-color:  #a42c33;

  text-transform: uppercase;
  font-weight: 30;
  font-family: 'Unna', serif;
  color:#f2f3f4;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  text-align: center;
}

