/* Para el body y que aplique el Scroll */
.container {
    overflow:
        scroll;
    position: relative;
    align-items: center;
    text-align: center;
    align-items: center;
}

/* Para el menú de Scroll */
.btnscroll {
    margin-top: 5px;
    align-items: center;
    background-color: #a42c33;
    border: 1px solid #a42c33;
    border-radius: 50px;
    max-width: 80px;
    max-height: 80px
}

/* Para imagenes de scroll */
.imgscroll {
   
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

/* Para los cards de cada artículo */
.scrollpsy {

    align-items: center;
    text-align: center;
    margin: 2px;
    padding: 1px;
}

.navbar {
    align-items: center;
    text-align: end;
}
.nav {
    align-items: center;
    align-content: center;
    text-align: center;
}
#nav-pills {
    display: none;
}
