* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 


.superior{
    display: flex;
    align-items: center;
    justify-content: center;
    }

.tallas{
    grid-gap: 20px;
    max-width: 1000px;
}

.tallas img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: #a42c33 solid 8px;
}



.section-list{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;
    font-family: 'Unna', serif;
}

.table-img-1{
    background: url(/assets/img/9.GuiaTallas/vestidos.jpg);
    width: 210px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin: auto;
    border: 5px solid #a42c33;
}

.table-img-2{
    background: url(/assets/img/9.GuiaTallas/jubon.JPG);
    width: 210px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin: auto;
    border: 5px solid #a42c33;
}

.table-img-3{
    background: url(/assets/img/9.GuiaTallas/calzas.jpg);
    width: 210px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin: auto;
    border: 5px solid #a42c33;
}

.section-list2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.content2{
    grid-gap: 20px;
    width: 386px;
    max-width: 1000px;
    margin: auto;
}

.table-img-4{
    background: url(/assets/img/9.GuiaTallas/hoots.jpg);
    width: 210px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin: auto;
    border: 5px solid #a42c33;
}

.content3{
    grid-gap: 20px;
    width: 386px;
    max-width: 1000px;
    margin: auto;
}

.table-img-5{
    background: url(/assets/img/6.Calzado/zapato_campesino.png);
    width: 210px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin:auto;
    border: 5px solid #a42c33;
}

article{
    box-shadow: 0 1px 6px 1px rgb(0, 0, 0, .15);
}

.table-header{
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Unna', serif;
}

article .table-striped{
    margin-top: 40px;
    text-align: center;

}

@media (max-width:840px){
    .content{
        grid-template-columns: repeat(2,1fr);
    }
    .table3{
        width: 100%;
        margin-left: 55%;
    }
}

@media (max-width:600px){
    .content{
        grid-template-columns: repeat(1,1fr);
    }
    .table3{
        width: 100%;
        margin-left: 0%;
    }
}

@media (max-width:400px){
    .content{
       max-width: 300px;
    }

    .content2{
        max-width: 300px;
     }

     .content3{
        max-width: 300px;
     }

     .tallas{
      max-width: 300px;
    }
}
