/* Colores:
#7a3a42
#a42c33
#fff
#333
##FFFFFF
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1em;
}

body {
    font-family: 'Unna', serif;
    background-color: #f2f3f4;
}


/*ENCABEZADO*/
.row {
    width: 98vw;
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1em;
}

body {
    font-family: 'Unna', serif;
    background-color: #f2f3f4;
}


/*ENCABEZADO*/
.row {
    width: 98vw;
    margin: 0;
}

 p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	
	font-size: 18px ;
	font-family: sans-serif ;
	color: black;
	text-decoration: none;

}

button {
	border-radius: 20px;
	border: 1px solid #7a3a42;
	background-color: #a42c33;
	color: #f2f3f4;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}


button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

/*Etiqueta comentada debido a la desalineacion del boton de busqueda respecto a las demas paginas 

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
	
} */
.form-2 {  /* Problema solucionado usando clase en vez de etiqueta */
	
		background-color: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 50px;
		height: 100%;
		text-align: center;
		
	}


input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	
	position: relative;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {  /* Propiedades para la animacion show */
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow:hidden ;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #a42c33; /* color de panel bienvenido */
	background: -webkit-linear-gradient(to right, #a42c33, #7a3a42); /* Efecto leve de difuminado en los colores del fonde del panel del formulario */
	background: linear-gradient(to right, #a42c33, #7a3a42);
	color: #FFFFFF;
	position: relative; /* Mantiene centrados los elementos en el panel */
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0); 
	transition: transform 0.6s ease-in-out;
}
/* Se manda a llamar este estilo desde javascript */
.container.right-panel-active .overlay {
  	transform: translateX(50%);
}
/* Mantiente fijo el panel de texto Hola y el boton de registro */
.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}
/* Mueve el texto durante la trancision al presionar el boton registrar */
.container.right-panel-active .overlay-left {  
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

/* Esta clase fue agregada para sobreescribir los estilos en los tag 
button de footer y header */
.remove {
	background-color: transparent !important;
	border: transparent !important;
	border-radius: 0 !important;
	padding: 0 0 !important;
	

}



.pp_button {
	border-radius: 20px;
	border: 1px solid #7a3a42;
	background-color: #a42c33;
	color: #f2f3f4;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}


