/* * modifica toda página*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1.2rem;
}

body {
	background-color: #f2f3f4;
	font-family: 'Unna', serif;
}


.row {
	width: 100%;
}

/* estilo de menú */
.main:wrapper {
	margin: 5%;
	justify-content: space-evenly;
}

.nav-item {
	font-family: 'Unna', serif;
	font-size: 18px;
}

.barra_buscar {
	justify-content: space-evenly;
	margin-left: 1px;
}

.btn_buscar {
	padding: 10px 30px 10px 30px;
	color: #a42c33;
	border: 1px solid #a42c33;
	border-radius: 4px;
}

.btn_buscar:hover {
	background-color: #a42c33;
	color: #f2f3f4;
}

.logo-godiva {
	margin: auto auto auto auto;
}

/*Se quitan bordes a iconos*/
.remove {
	background-color: transparent;
	border: transparent;
	background-color: transparent;
	border: transparent;
	background-color: transparent;
	border: transparent;
}

.icono {
	border: none;
	margin: 1em;
}

.icono_carrito {
	text-align: center;
}

a,
p {
	text-decoration: none;
	font-size: 18px;
	font-family: 'Unna', serif;
	color: black;
	text-align: center;
}


.encabezado {
	font-size: 18px;
	font-family: 'Unna', serif;
	color: #333;
	text-decoration: none;
	justify-content: space-evenly;
}

.dropdown-menu {
	justify-content: right;
	justify-items: right;
}

/* para unificar estilo de titulos */
.titulo {
	/* font-family: 'Unna', serif;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    padding-top: 1em; */
	font-family: 'Unna', serif;
	text-align: center;
	font-weight: bold;
	margin: 3%;
	letter-spacing: 4px;
}

footer {
	align-items: top;
	color: rgba(0, 0, 0, 0.684);
	padding: 15px;


}

.icono_footer {
	height: 50px;
	width: auto;
	justify-content: space-evenly;
}

.preguntas {
	text-align: center;
	padding-bottom: 0;
	color: rgba(0, 0, 0, 0.684);
}


.btn-flotante1 {
	background-color: transparent;
	font-size: 16px;
	/* Cambiar el tamaño de la tipografia */
	text-transform: uppercase;
	/* Texto en mayusculas */
	font-weight: bold;
	/* Fuente en negrita o bold */
	border: none;
	border-radius: 100px;
	/* Borde del boton */
	letter-spacing: 2px;
	/* Espacio entre letras */
	position: fixed;
	bottom: 420px;
	right: 190px;
	transition: all 300ms ease 0ms;

	z-index: 99;
}

.btn-flotante1:hover {
	/* background-color: #ffe0e9; Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}

.btn-flotante2 {
	background-color: transparent;
	font-size: 16px;
	/* Cambiar el tamaño de la tipografia */
	text-transform: uppercase;
	/* Texto en mayusculas */
	font-weight: bold;
	/* Fuente en negrita o bold */
	border: none;
	border-radius: 50px;
	/* Borde del boton */
	letter-spacing: 2px;
	/* Espacio entre letras */
	position: fixed;
	bottom: 425px;
	right: 85px;
	transition: all 300ms ease 0ms;

	z-index: 99;
}

.btn-flotante2:hover {
	/* background-color: #f2f3f4; Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}


.btn-flotante3 {
	background-color: transparent;
	font-size: 16px;
	/* Cambiar el tamaño de la tipografia */
	text-transform: uppercase;
	/* Texto en mayusculas */
	font-weight: bold;
	/* Fuente en negrita o bold */
	border: none;
	border-radius: 50px;
	/* Borde del boton */
	letter-spacing: 2px;
	/* Espacio entre letras */
	position: fixed;
	bottom: 30px;
	right: 40px;
	transition: all 300ms ease 0ms;

	z-index: 99;
}

.btn-flotante3:hover {
	/* background-color: #f2f3f4; Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}

/* Breakpoint botones  */

@media only screen and (max-width: 600px) {
	.btn-flotante1 {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 350px;
		right: 29px;
	}
}



@media only screen and (max-width: 600px) {
	.btn-flotante2 {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 270px;
		right: 30px;
	}
}



@media only screen and (max-width: 600px) {
	.btn-flotante3 {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 30px;
		right: 15px;
	}
}

/* Termina header*/

.formregistro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* margin-right: 50%; */
	background-color: #f2f3f4;

}

.tituloRegistro {
	font-family: 'Unna', serif;
	text-align: center;
	font-weight: bold;
	margin: 3%;
	letter-spacing: 4px;
}

/* .text{
    font-family: 'Unna', serif;
    text-align: center;
} */

input::placeholder {
	font-size: 90%;
}

.alert {
	color: rgb(255, 0, 0);
	font-size: 79%;
}

.casillaForm {
	display: inline-block;
	padding: 4vh;
	width: 50vmin;
}

#checkbox {
	font-size: 18px;
	color: rgb(0, 0, 0);
	text-align: center;

}


/* Inicio de Botones*/
.containerBtn {
	display: flex;
	justify-content: center;
}

.containerBtn a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

a:active {
	color: rgb(255, 255, 255);
	text-decoration: none;

}

.btnForm {
	padding: 2% 5% 2% 5%;
	/* padding: 10px 30px 10px 30px; */
	color: #a42c33;
	border: none;
	margin: 9%;
	justify-content: center;
	line-height: 110%;
}

.btnForm:hover {
	background-color: #a42c33;
	color: #f2f3f4;
	border: 1px solid #a42c33;
	border-radius: 13px;
}

/* Final de Botones*/

/*Final-formulario*/